[2016-03-10 16:58] kennellroxco opened #1 "Xlsxir.Format.format_cell_value results in matcherror"

[2016-03-10 22:59] kennellroxco commented on #1
Bug fixed.

[2016-03-10 22:59] #1 closed

[2016-03-11 18:24] kennellroxco opened #2 "Performance issue with large files"
Xlsxir.Parse.worksheet/2 seems to be the bottleneck.

[2016-03-16 15:02] schaary opened #3 "Plans for Excel Export?"
I need a tool to export into Excel file format. Do you have any plans to extend the project by an export feature?

[2016-03-16 15:09] kennellroxco commented on #3
Yes, once I get the parsing performance issues wrapped up (which I'm about finished with) I'll start looking at export functionality with basic formatting.

[2016-03-16 22:51] kennellroxco opened #4 "Need to update docs and tests before publishing v 0.2 to Hex"

[2016-03-16 22:58] kennellroxco commented on #2
Performance issue fixed.

[2016-03-16 22:58] #2 closed

[2016-03-17 12:57] kennellroxco commented on #4
Docs and tests updated.

[2016-03-17 12:57] #4 closed

[2016-03-18 14:37] kennellroxco opened #7 "Parse function doesn't handle errors in Excel worksheet"
Need to add parse functionality for any errors contained within an Excel workbook.

[2016-03-18 17:41] kennellroxco commented on #7
Fixed

[2016-03-18 17:41] #7 closed

[2016-03-18 17:42] kennellroxco opened #9 "Parse fails when more than 2 attributes for a cell"

[2016-03-20 01:09] #9 closed

[2016-04-18 00:19] apcxiii commented on #3
Hi, I don't parse a text with ampersand i.e "http://domain.com?param1=aaa&param2=two"

[2016-04-18 00:38] apcxiii opened #15 "Parse special characters"
Hi, I don't read special characters like ampersand; i.e. "http://domain.com?param1=aaa&param2=two
![screen shot 2016-04-17 at 7 37 54 pm](https://cloud.githubusercontent.com/assets/1149079/14591269/f0ed0098-04d3-11e6-84b9-06068f3e4962.png)
![screen shot 2016-04-17 at 7 38 05 pm](https://cloud.githubusercontent.com/assets/1149079/14591278/09a9de62-04d4-11e6-84dd-0604203ce1d5.png)

"

[2016-04-18 02:50] kennellroxco commented on #15
Looking at it now. I'll let you know once I figure out the bug.

[2016-04-18 04:09] kennellroxco commented on #15
The issue looks to be caused by the xml parsing library I'm using. It's parsing the URL string into two separate strings at the ampersand and my code is only picking up the first one. I'll work on a fix but it may take me a couple of days, depending on my work schedule. Thanks for pointing out this bug.

[2016-04-18 04:44] kennellroxco commented on #3
Closing for now. I'll be working on export functionality soon.

[2016-04-18 04:44] #3 closed

[2016-04-19 04:51] kennellroxco commented on #15
I published a new version (0.0.3) to account for this issue. Please update your dependencies and try again. Let me know if you have any further issues.

[2016-04-19 04:51] #15 closed

[2016-04-19 07:24] pma opened #17 "Load custom formats"
Sample from xl/styles.xml:

[code]

Current implementation raises here: https://github.com/kennellroxco/xlsxir/blob/master/lib/xlsxir/parse.ex#L73

[code]

[2016-04-19 17:11] kennellroxco commented on #17
A `numFmtId` equal to or greater than 164 is a custom format which can vary from system to system, so I haven't figured out a way yet to automate that. You have two options, first you can reformat your worksheet to standard formats prior to parsing, or you can update the code on your local instance to include your custom formats. I will be updating the documentation to include detailed instruction

[2016-04-19 17:25] apcxiii commented on #15
Thank you :)

[2016-04-19 22:08] kennellroxco commented on #17
On second thought, I have an idea on how to automate the custom formats. I'm working on it on a separate branch. @pma would you be up for pulling it down and testing once I'm finished?

[2016-04-20 05:59] pma commented on #17
@kennellroxco Glad to help you test the feature. Let me know when you finish it.

[2016-04-21 14:46] kennellroxco commented on #17
@pma I'm ready for a test run. The branch is labeled `custom_format`. Thanks for the help! Do your best to break it :)

[2016-04-25 03:56] kennellroxco commented on #17
I went ahead and did some testing and things seem to be working well. I'm about to publish the changes as version 0.0.4 on Hex. Let me know if you have any other issues with it.

[2016-04-25 03:56] #17 closed

[2016-04-25 09:17] pma commented on #17
@kennellroxco Sorry for the delay. I was able to load the set of Excel files after a change to `Xlsxir.Format.format_cell_value/2`. Xlsxir.extract was failing with error:

[code]

Adding `['n',   nil,  n]  -> list_to_number(n)` to the case statement in format_cell_value solved the problem, though I'm not sure why it is 'n' and not 'd'.

[code]

I have a date column and a numeric column in the Exce

[2016-04-25 12:24] kennellroxco commented on #17
@pma Can you tell me what the format type is in excel for both of the columns you mentioned that were failing with an `'n'`?

[2016-04-25 14:31] pma commented on #17
The workbook xml actually has `t="n"`. Here's a gist with the workbooks and styles: https://gist.github.com/pma/1c1ccce750ca2b077f31a4389d6f7880

[2016-04-25 18:15] kennellroxco commented on #17
Ok, I see what's going on. `t` is actually the data type (`'n'` for number, `'s'` for string, `'e'` for error, etc.) and `s` is the style index. I hadn't run into a data type of `'n'` yet as most of the situations I have seen have just left that set to `nil` for numbers. I see you're using a different language though (Portuguese?), so that may be the reason.

If you look at your `style.xml` starti

[2016-04-26 01:13] pma commented on #17
@kennellroxco Yes, it's Portuguese, and I created this .xlsx in LibreOffice.

Adding the `convert_char_number` case fixes the exception. The second is never matched, because the date column also matches ['n', nil, n].

These are the intermediate results:

[code]

I think we would need to include the formatCode in the structure resulting from Parse.worksheet. Still it would take some heuristics to

[2016-04-26 02:23] kennellroxco commented on #17
Do me a favor and try one last thing for me. Adjust the regex on `line 108` of `Xlsxir.Parse` from `~r/[dhmsy]/` to `~r/[dhmsy]/i` making it case insensitive and see if that fixes the issue. Thanks again!

[2016-04-26 07:33] pma commented on #17
@kennellroxco With the change it now correctly parses a date. A limitation is that if we set it to a datetime value, we can only extract the year, month, day part.

[code]

[2016-04-26 08:25] pma opened #19 "Improve performance"
Parsing a XLSX with about 40k rows and 7 columns takes 77.38 s.

For comparison, using Apache POI with JInterface for interop takes about 7.7 s.

Creating this as a reminder to profile the code and see if it is possible to improve the performance.

Edit: The current implementation loads the entire worksheet XML into memory and builds at least two intermediate lists to produce the formatted output.

[2016-04-26 12:16] kennellroxco commented on #17
Thanks @pma. That's a good suggestion, I'll add it to the list for future development.

[2016-04-26 12:31] kennellroxco commented on #19
Performance is definitely an issue. I've been playing around with ideas for a few weeks now. Thank you @pma for the suggestions, I'll look into using a GenServer as that sounds like a great idea.

[2016-05-10 20:30] kennellroxco commented on #19
@pma I've implemented SAX parsing and Erlang Term Storage (ETS) to Xlsxir. If you have time, would you mind processing your workbooks again and let me know if performance has improved on your end? You'll need to take a look at the docs as I've majorly changed the functionality. Thanks!

[2016-05-11 06:58] pma opened #21 "Error when running extract a 2nd time"
Running Xlsxir.extract/3 a second time raises. ets seems to complain that the table already exists.

[code]

[2016-05-11 07:07] pma commented on #21
I missed `Xlsxir.close`

[2016-05-11 07:07] #21 closed

[2016-05-11 08:39] pma commented on #19
@kennellroxco With the SAX implementation the .xlsx that previously took 77s to extract now takes 9s. Xlsxir.get_list/0 runs in under 1ms. Quite an improvement, congrats!

For comparison, my implementation using Apache POI + JInterface takes 15s to do the equivalent of Xlsxir.extract/3 + Xlsxir.get_list/0.

Have you considered xmerl_sax_parser before deciding to use erlsom? If xmerl_sax_parser has

[2016-05-11 13:12] kennellroxco commented on #21
@pma Yeah, I'm eventually going to change that to allow for multiple ETS tables to be opened up when parsing multiple worksheets, but for now `Xlsxir.close` should work.

[2016-05-11 13:28] kennellroxco commented on #19
@pma I did initially look at xmerl but had trouble understanding the documentation. I was able to find a great example of erlsom from a blog post by @benjamintanweihao, so that's why I went with erlsom. Now that I understand SAX parsing better, I'll take a look at xmerl again to see if I can get rid of that extra dependency.

Thanks for the comments and suggestions. I do plan to implement a better

[2016-05-11 13:29] kennellroxco commented on #19
Initial performance improvement complete. Additional improvements will follow.

[2016-05-11 13:29] #19 closed

[2016-06-30 20:11] taniadaniela opened #24 "Ignore empty cells"
Hi. I need to parse a sheet that contains empty cells, but I can't ignore them, I need to obtain some empty char or nil option. Is there some way to have this behavior?  I saw that you added the functionality  of ignoring empty cells in the last version.

[2016-06-30 21:50] kennellroxco commented on #24
Yes, that was a temporary fix. I actually just finished the code to fix that issue and will be publishing it shortly. Empty cells will now be represented as nil. Once published, please let me know if you have any additional issues!

[2016-06-30 22:12] kennellroxco commented on #24
Changes are live. Let me know how it goes.

[2016-06-30 22:12] #24 closed

[2016-07-01 14:34] taniadaniela commented on #24
It works perfectly.. thanks!

[2016-08-03 17:05] pma opened #25 "Error in ParseWorksheet.format_cell_value/1"
I'm getting an error in `ParseWorksheet.format_cell_value/1` (https://github.com/kennellroxco/xlsxir/blob/master/lib/xlsxir/parse_worksheet.ex#L99) where `list` has the value ` ['str', 'd',  s]`.

The problematic cell seems to be one with a text formula:

[code]

As a quick fix, I added an extra  `['str', _,  s] -> List.to_string(s)` to the case statement. I'm wondering if you might have a better

[2016-08-03 18:59] kennellroxco commented on #25
@pma Thanks for letting me know. I'll try and take a look at it tonight when I get home from work. Will keep you posted.

[2016-08-03 19:03] kennellroxco commented on #25
@pma Actually, could you please crack open the file and send me a gist of `styles.xml` located at `xl/styles.xml`?

[2016-08-03 19:08] pma commented on #25
@kennellroxco Here. I passed it through xmllint for readability:
https://gist.github.com/pma/1ecd46e68af00d230b46f14094e09a73

[2016-08-04 20:35] kennellroxco commented on #25
@pma For some reason that text formula has a style type of `<numFmt numFmtId="164" formatCode="yyyy/mm/dd"/>` which is why it's coming through with a `'d'` in `['str', 'd', s]`. I should be able to modify the original case statement of `['str', nil,  s]  -> List.to_string(s)` to `['str', _,  s]  -> List.to_string(s)` since any time the data type is `str` the result should be a string. So in effect

[2016-08-06 12:26] kennellroxco commented on #25
@pma I just released the fix in v1.3.3 on Hex. Let me know if you have any other issues. Thanks!

[2016-08-06 12:26] #25 closed

[2016-08-12 23:51] taniadaniela opened #26 "not adding xlsxir to application function"
Hello, I'm having the doubt if isn't necessary to add xlsxir to application function into mix.exs?
As in application is supposed to be added all the stuff you need in production..

[2016-08-14 02:14] kennellroxco commented on #26
Currently you do not need to add Xlsxir to the application function in `mix.exs`. As long as you have it listed as a dependency you'll have access to it in your application. Are you having an issue using it? If so, could you give me some more specifics regarding the details of the issue? Thanks.

[2016-08-16 21:41] taniadaniela commented on #26
No, I'm not having any issue, it was just a doubt about it. I'm on the develop process yet, I haven't test the app in production env. I'll let you know how it works there. Thanks for the feedback. 👍

[2016-08-16 21:41] #26 closed

[2016-09-13 06:10] jrnt30 opened #27 "Conditional formatting of cells breaks parsing"
Thanks for the repo.  New to elixir but found your code interesting to try and learn from.

Found that the Worksheet parser currently breaks if cells contain any conditional formatting elements. In the process of debugging more but need to get to sleep for today.

Symptoms:
ParseWorksheet fails during the `:characters` handler as the state is `true` and not a map with a `value` that contains the c

[2016-09-13 18:17] pma opened #29 "Order of rows does not match the source file"
At least in the .xlsx I used, the line number is represented as a string in the ets table, so Enum.sort will not work as expected: https://github.com/kennellroxco/xlsxir/blob/master/lib/xlsxir.ex#L125.

I handled this by not using get_lines and accessing the ets table directly. I need the row number to display to the user on any validation error, but I don't necessarily need to process the rows in

[2016-09-13 21:40] kennellroxco commented on #27
@jrnt30 thanks for the feedback. I'll take a look at your pull request as soon as possible (currently out of town for work). I definitely appreciate you taking the time to come up with a solution and creating a test situation for it!

[2016-09-15 02:50] jrnt30 commented on #27
You're very welcome.  Please let me know if there is anything that you would like revised that I can help with.

[2016-09-16 16:25] #27 closed

[2016-09-16 18:03] kennellroxco commented on #29
Thanks Paulo. There was a bug...I intended for rows to be represented as integers in the ETS table but they were in fact strings. I've updated that issue and pushed to the repo, so please re-pull and let me know if it resolved the issue you had.

Do you have any specific suggestions with regard to how I could make the row iterations more efficient? I'm currently looking at ways to implement `GenSt

[2016-09-16 19:03] kennellroxco commented on #27
@jrnt30 your fix will be published in v1.3.4 on Hex along with the fix for issue #29 sometime tonight or tomorrow. Thanks again for the help!

[2016-09-17 04:50] jrnt30 commented on #27
That's great, thanks for doing the heavy lifting!

[2016-09-17 18:48] pma commented on #29
@kennellroxco Thanks! It solved the issue and get_list now returns the rows in the original order.

I may be a bit biased because I'm currently only needing `get_list`. But it seems the steps `parse xml rows` -> `load into ets kv` -> `iterate ets and transform to list` -> `sort list` -> `map list` do a lot of transformations and build intermediate data structures, when the output of the SAX parser

[2016-09-17 20:09] kennellroxco commented on #29
Well I'm hoping to optimize the parsing with GenStage.Flow. I'll let you know when I figure something out so you can give it a try and let me know how it goes. Closing this issue for now. Thanks!

[2016-09-17 20:09] #29 closed

[2016-09-23 23:19] brandonparsons opened #30 "Export to XLSX"
Hi there,

I'm looking around for an Elixir library that can export data to Excel format.  You have this listed in your development goals:

I'm just wondering how actively that's being worked? Do you know of any libraries in the Elixir ecosystem at all that can do this right now?

[2016-09-26 04:44] kennellroxco commented on #30
I do plan on eventually getting to that, however, I haven't started yet.
There is one out there named elixlsx that exports to excel. I haven't used
it so I can't vouch for it but I'd give it a try.

On Fri, Sep 23, 2016 at 5:19 PM brandonparsons <notifications@github.com>
wrote:

[2016-09-27 03:43] brandonparsons commented on #30
Thanks for the hint on `elixlsx`! I'll close this issue now, as it's obviously on your roadmap already :)

[2016-09-27 03:43] #30 closed

[2016-11-08 14:45] pedrogarrett opened #31 "inlineStr type not parsed"
cell value of inlineStr is not parsed... adding:

   ['inlineStr',   _,  s]  -> List.to_string(s)

to the format_cell_value function makes it work, but I'm not sure if that's the correct solution.

[2016-11-08 14:47] kennellroxco commented on #31
Thanks @pedrogarrett. Can you tell me what program you are using (i.e. Excel, LibreOffice, etc.)? I haven't run into that type before.

[2016-11-08 15:00] kennellroxco commented on #31
Ok, you're proposal will work for now until I have time to explore that gem further. I'm currently making some minor improvements so I'll add that fix and push out in an updated version ASAP. Thanks for pointing it out! I'll close this issue once the change is published on Hex.

[2016-11-20 16:50] pikender opened #33 "Validation of xlsx file based on content_type (or someother attribute) than file_path"
**Usecase**

When using Phoenix and integrating parsing of xlsx files, there could be a possibility of passing Plug.Upload file_path for parsing but it bails out due to xlsx file_extension.

Even though the file is a valid xlsx, it fails 😢

Bypassing the file_path check, correctly parses and returns valid data

I don't have much of backgroud in xlsx parsing stuff but curious if we can shift to mor

[2016-11-20 23:55] kennellroxco commented on #33
I hadn't thought about a case where the temp file from Plug.Upload wouldn't have the proper extension. Good catch! I'll figure out a better way to validate the file.

[2016-11-21 01:33] kennellroxco commented on #33
Ok, @pikender I changed the way the validation works. It's now utilizing a function in the Erlang `:zip` library to verify that the requested worksheet is present in the file. It doesn't matter if the extension is not `.xlsx`. Would you mind testing out the change for you use case and let me know how it goes? I'll wait to hear back before publishing the fix on Hex. Thanks!

[2016-11-21 06:56] pikender commented on #33
@kennellroxco sure 👍

[2016-11-21 07:47] pikender commented on #33
Can we return error tuple instead of failing with MatchError ??

There is no violation of *Let it crash* principle also as it's a validation which should be informed to invoking party for making corrections.

We need to change the error hinting about worksheet(*index*) might be missing

[code]

What are your thoughts ?

[2016-11-22 04:59] kennellroxco commented on #33
@pikender I made the changes you requested. Please take it for a spin and let me know your thoughts. Thanks again!

[2016-11-23 05:55] pikender commented on #33
@kennellroxco it's awesome now. Tested with xml, csv, xls and xlsx. Rightly informed "Invalid File Type" for other than xlsx and parsed xlsx correctly 😊

Looks good and Thanks 👍

[2016-11-23 06:29] kennellroxco commented on #33
Awesome! Closing issue and publishing update on Hex. Thanks for the help!

[2016-11-23 06:29] #33 closed

[2016-11-23 06:30] kennellroxco commented on #31
Publishing update on Hex.

[2016-11-23 06:30] #31 closed

[2016-11-24 06:19] pikender commented on #33
Thanks @kennellroxco for superfast reply and incorporating changes fast :100: :heart: :+1:

[2016-12-07 12:34] pikender opened #35 "Parsed Row/Column values leaks into subsequent rows and corrupt parsed data"
**Observation but might not be the actual cause**

When using merged cells with partially colored text, Row values wrongly leaked into subsequent rows and data from parsing is corrupted.

**Sample Text (is Bold, has Green in green color and Blue in Blue color)**

    Detailed Info, Green are mandatory fields, Blue are optional ones

Here *Green are mandatory fields, Blue are optional ones* are wro

[2016-12-07 13:24] pikender commented on #35
I tried narrowing down the possible cause more and found that **Mixed formatting in same cell leads to unexpected results**

**Mixed Formatting Examples**

- All words Simple but one **Bold**
- All words Simple but one *Italic*
- All words in Black Color but one in Green or Blue

Attaching a xlsx which reproduces the anomaly better using above mixed formatting examples

[sample_with_mixed_formatti

[2016-12-07 15:44] kennellroxco commented on #35
Thanks for the info. I'll take a look.

[2016-12-11 05:27] kennellroxco commented on #35
@pikender I figured out the issue, just working on a solution.

[2016-12-11 19:28] kennellroxco commented on #35
@pikender I think I got it. Please pull, test and let me know how it goes. Thanks!

[2016-12-13 09:13] pikender commented on #35
@kennellroxco seems to parse well with samples I have :+1: :blush:

[2016-12-13 20:50] kennellroxco commented on #35
Closing this issue. Let me know if you have any other problems. Thanks!

[2016-12-13 20:50] #35 closed

[2017-01-25 01:53] harmon25 opened #39 "Extract cell range from ets table i.e "A3:F10", sheet names and named ranges"
Not sure if this can be achieved without first grabbing the entire ets table and filtering it.

Would be nice to just pass a string like "A10:G1000" and only get back a list/map/mda of those cols*rows out of ets.

Also `workbook.xml` contains some useful information when parsing workbooks such as sheet names, and `definedNames` which correspond to named ranges in excel.

Let me know if you are int

[2017-01-25 21:15] jkennell commented on #39
@harmon25 thanks for the idea. My initial thought is it's achievable...just need to think about it a bit. I'll sit down some this weekend and play around with it. Feel free to do the same and we can regroup on some ideas of how to implement. Thanks!

[2017-01-25 23:04] harmon25 commented on #39
@jkennell Having dug a bit deeper into your implementation - believe we can make some serious improvements.

Have been using openpyxl to parse xlsx files from python - it is quite powerful and much faster than Xlsxir at parsing large worksheets - which makes me believe some optimizations could be made to drastically improve performance.

Firstly - does ETS actually provide any performance benefit?

[2017-01-25 23:40] kennellroxco commented on #39
@harmon25 Sorry, didn't realize I was logged into my other account when I responded. Yes, I think there is a ton of room for improvement. This was my "learn elixir" project and have been planning on refactoring it to make it more efficient but just haven't gotten to it yet (had a baby last year). I agree that a GenServer implementation is a better answer than the current ETS method, I had just lea

[2017-01-26 02:08] harmon25 commented on #39
@kennellroxco congrats on the baby!

I am very much interested, a bit of an elixir novice myself - but can help with a few things - have some experience with sweet_xml as well which i believe will be faster for this size of xml files...

forked, and created a new branch `future` will be pushing some POC tonight - just got start hour or so ago!

[2017-01-26 06:00] harmon25 commented on #39
[future](https://github.com/harmon25/xlsxir/tree/future)

Workbook is a supervisor, it can supervise the Worksheet processes and if some error happens in parsing of the sheet xml, could restart the Worksheet process...
That is what i have in mind anyway - also enables some parallel processing of the xml files - if they can be accessed from the zip handler in parallel - haven't tried yet...

Also w

[2017-01-26 17:29] kennellroxco commented on #39
I wasn't able to use SweetXml because the streaming had very poor performance after about 5k elements. That's why I used Erlsom instead due to the sax parsing capabilities. I hadn't tried doing anything with Flow yet. My concern with using Flow for parsing is that it has to happen in order unless you can figure out a way to efficiently sort it afterwards.

[2017-01-26 17:39] harmon25 commented on #39
Going to get into parsing worksheets tonight...
Gonna try parsing row by row, keeping track of row # should allow for sorting rows back into order.

Also possibly re-organize the supervision a bit... kinda want the app to be started with mix... currently does not show up as an application in `:observer`...

[2017-01-26 18:01] kennellroxco commented on #39
Sounds good. Please keep in mind you also need to ensure the cells within each row are parsed in order (i.e. [[A1, B1, C1],[A2, B2, C2]] ). I found that once you get into the double and triple letters (i.e. AA, AAA) sorting issues become more complex. Also need to account for empty or `nil` cells in between. For example, if cells A1 and C1 have data but cell B1 is completely empty, B1 will not sho

[2017-01-26 18:34] kennellroxco commented on #39
I created a slack channel for us instead of going back and forth on here: xlsxir.slack.com

[2017-01-27 00:16] harmon25 commented on #39
good idea, but I need an invite link!

[2017-01-27 00:18] kennellroxco commented on #39
Haha, my bad.

https://xlsxir.slack.com/x-133718933335-133894865447/invite/MTMzMjkxOTE2MjkzLTE0ODU0NzYyNzQtNTM3MmRhMzBlMA

[2017-01-27 00:22] kennellroxco commented on #39
If that link doesn't work, let me know and I can send you and invite via your email address.

[2017-01-27 00:26] harmon25 commented on #39
yea thats weird, it seems to have logged me in as you or smthing
send invite to me - `nomraharmon at gmail dot com`

[2017-02-28 15:54] AlexKovalevych opened #42 "Parsing time failed"
[code]

[2017-02-28 15:59] AlexKovalevych commented on #42
I guess we can use this function https://github.com/AlexKovalevych/exoffice/blob/master/lib/exoffice/parser/excel_2003/date.ex
for convertion (its for excel 2003 format, but still should work)

[2017-02-28 20:00] AlexKovalevych commented on #42
Something wrong with condition which defines whether its time or date, will investigate.

[2017-03-01 06:29] AlexKovalevych commented on #42
#43

[2017-03-08 03:07] kennellroxco commented on #42
This issue was fixed by PR #45.

[2017-03-08 03:07] #42 closed

[2017-03-10 07:55] Lioshaq opened #47 "argument error (stdlib) :ets.new"
Hi I'm trying to read a xlsx but always get the same error
** (ArgumentError) argument error
    (stdlib) :ets.new(:styles, [:set, :protected, :named_table])
             lib/xlsxir/state_manager.ex:199: Xlsxir.Style.new/0
             lib/xlsxir/sax_parser.ex:52: Xlsxir.SaxParser.parse/3
    (elixir) lib/enum.ex:645: Enum."-each/2-lists^foreach/1-0-"/2
    (elixir) lib/enum.ex:645: Enum.each/2

[2017-03-10 15:06] kennellroxco commented on #47
Hello @Lioshaq. Can you tell me if this happens in a new `iex` session when you first try to parse a worksheet? Or only after the first attempt? Could you please crack open your .xlsx file and list the contents of the `/xl` folder? Thanks!

[2017-03-10 18:21] #47 closed

[2017-03-10 19:21] kennellroxco commented on #39
@harmon25 closing this for now. Let me know if you run into issues with your implementation.

[2017-03-10 19:21] #39 closed

[2017-03-23 10:30] AlexKovalevych opened #49 "A way to unzip to memory instead of fs?"
Currently if i process multiple excel files in parallel they will be extracted to the same directory at the disk which makes it impossible to parse files. Probably we should consider extract to memory or allow to set extract directory.

[2017-03-25 22:31] toraritte commented on #49
Changing the `:zip.extract/2` command at https://github.com/kennellroxco/xlsxir/blob/master/lib/xlsxir/unzip.ex#L149
would achieve that.

I changed `{:cwd, 'temp/'}` to `:memory` and it works in the `Unzip` module but the `temp/` directory prefix is hardcoded at multiple places in `lib/xlsxir.ex` so it will need some massaging.

[code]

@kennellroxco Thanks a lot for this package! The name is pret

[2017-03-27 04:02] kennellroxco commented on #49
Hey @AlexKovalevych and @toraritte. I see the issue with the directory and parsing of multiple files. I originally used the `:memory` method that @toraritte pointed out, however, I found that it was possible to run into memory issues when parsing large files which is why I switched to extracting to file instead. I like the idea of making parsing to memory optional and agree that we need a solution

[2017-03-30 09:29] AlexKovalevych opened #51 "Improve parsing worksheets"
I think we can improve parsing worksheets by not parsing them entirely in the memory, but instead parse line by line by request (using Stream).

Here is the idea:

1. Parse `sharedString.xml` the same way we do right now.
2. Create custom Stream for each worksheet.
3. When the next row is requested - read next line in the `worksheet#{i}.xml` and add it to the sax parser. Return parsed line.

Of co

[2017-05-30 07:01] pma commented on #51
While this memory optimization would only apply to the `Xlsxir.get_list/1` use case, I'd find it useful. Currently when parsing a 90K row sheet the RAM usage is growing by 600 to 700 MB.

[2017-05-31 14:57] jsonkennell commented on #51
@pma would you mind helping me test Alex's PR ( #52)? I would appreciate your thoughts on it.

[2017-05-31 15:55] pma commented on #51
@jsonkennell Will do. I'll compare processing time and RAM usage.

[2017-06-04 07:58] pma commented on #51
@jsonkennell @AlexKovalevych

I share my test below. The total time of loading and iterating the rows was cut in half.

One comment/suggestion I have is that if it's now possible to stream the output directly from the SAX parser, it would be great if we could have streams all the way up to the public API. Xlsxir.stream would make it easier to compose with things like GenStage/Flow. It would also c

[2017-06-10 05:34] brushbox opened #56 "Complex shared strings throw out indexes"
# Problem

I have a workbook that has some colored text. In my app it parses successfully but the field values are incorrect. It is correct in numbers, libre office and using Ruby's "Simple Xlsx Reader" gem.

It comes down to the parsing of the shared strings. In the shared strings I have:

[code]

In Xlsxir this is turned into two strings "Red writing" followed by ": Indicates no perament walker,

[2017-06-10 07:00] brushbox commented on #56
Here is a very small file (two cells) that show the issue:

[wp2.xlsx](https://github.com/jsonkennell/xlsxir/files/1065654/wp2.xlsx)

* `A1` should be `"RED: BLACK"`
* `A2` should be `"Data"`

Instead we get:
* `A1` => `"RED"`
* `A2` => `": BLACK"`

[2017-06-10 08:54] brushbox opened #58 "Concurrent access fails."
I am using Xlsxir from a phoenix application which means there will be the potential for multiple users to try and process their spreadsheets simultaneously.

But due to the global unzip dir (I think) and ets tables, concurrent access fails. This is evident when I run my tests. If they run async, I get failures. If I serialise them - they all pass.

The solution I came up with was to put a `GenSer

[2017-06-10 08:59] brushbox commented on #58
I see that PR #52 may address these issues in a much better way. If that PR gets merged then I expect the above is of little use going forward.

[2017-06-10 11:07] brushbox commented on #56
PR #57

[2017-06-12 14:58] jsonkennell commented on #58
Hey @brushbox, we are working to get #52 merged. If you can, please test it out once we do to verify it solves your problem. Thanks for detailing out the issues you're having.

[2017-06-12 15:01] jsonkennell commented on #56
@brushbox this shouldn't be too difficult to fix. I have a feeling the issue is resulting from the way I have it set to parse very long strings where the `family` string attribute comes into play.  Thanks for creating a sample workbook.

[2017-06-17 03:54] jsonkennell commented on #49
Merged #52

[2017-06-17 03:54] #49 closed

[2017-06-17 03:54] jsonkennell commented on #51
Merged #52 so closing for now.

[2017-06-17 03:54] #51 closed

[2017-06-17 03:55] jsonkennell commented on #58
#52 was merged, so please give it a shot to see if it fixes your issue. Closing for now, please re-open if you continue to have issues.

[2017-06-17 03:55] #58 closed

[2017-06-22 03:50] brushbox commented on #56
@jsonkennell hi. Thanks for letting me know. I'm looking into it but have been caught up with a few other things lately.

I'll let you know once I've had time to go over things properly.

[2017-07-07 14:32] jsonkennell commented on #56
Merged you PR so closing this for now.

[2017-07-07 14:32] #56 closed

[2017-07-07 14:56] jsonkennell opened #60 "Documentation for Xlsxir.multi_extract/4"
@AlexKovalevych could you please update the documentation for the `excel` parameter in `Xlsxir.multi_extract/4` in the `xlsxir.ex` file when you get a chance? Thanks!

[2017-07-07 15:01] AlexKovalevych commented on #60
@jsonkennell sure, i will

[2017-07-28 05:06] brushbox commented on #58
Thanks, Jason. Sorry for taking so long to reply…been crazy busy.

I think everything is working well with the changes … I do have a new bug that I’ve found.
I’m working to isolate it and will raise a PR when I’ve got a fix in place … but I haven’t had a lot of time for this lately, unfortunately.

[2017-07-30 14:44] mvrkljan opened #61 "(ArithmeticError) bad argument in arithmetic expression"
@AlexKovalevych Since upgrade to Elixir 1.5.0 and move to Phoenix 1.3 I'm getting this error when calling `Xlsxir.multi_extract/2`. Having a bit of trouble figuring out why, any clue to why this might be happening?

[code]

[2017-08-01 22:23] AlexKovalevych commented on #61
@mvrkljan do you use the latest version of this library and not my fork which is obsolete atm? tests are passing and everything works fine for me at Elixir 1.5.0

[2017-08-02 08:00] mvrkljan commented on #61
@AlexKovalevych Oh, sorry, it was late and was looking at another issue, should've pinged @jsonkennell :)

Yes, I'm using latest version of this package, `{:xlsxir, "~> 1.5"}`. I had a passing test using a simple .xlsx file, but now it fails with this stack trace. I've made sure good path and index is passed into the function. I'll do some more inspecting and prying, was just wondering if this was

[2017-08-02 13:40] jsonkennell commented on #61
@mvrkljan thanks for pointing out this issue. I just upgraded my machine to Elixir 1.5 so I'll try to recreate the error. If you could provide a test .xlsx workbook that is having the issue that would be helpful.

[2017-08-02 13:49] mvrkljan commented on #61
@jsonkennell Sure, this is the file I use in my tests: https://drive.google.com/file/d/0BzFrcoQKgO6ucmxsczRSbUM3UWM/view?usp=sharing

[2017-08-02 14:04] jsonkennell commented on #61
Thanks @mvrkljan. This may be a non issue after the next release as we've completely changed how the `state_manager` works. There is still some work to do before this is ready for another release though so I'll see if I can figure out a patch for you in the meantime.

[2017-08-02 21:13] mvrkljan commented on #61
@jsonkennell Thank you! I really appreciate that.

If it helps, I did some debugging using Elixir 1.5.0 `break!` and ran my test suite with `IEx`, and this is what it got me:

[code]

Basically, the whole thing seems to break when the `id` ETS reference is added with current state of `TableId` on line 18, which is `0`. I'm not sure if something I'm doing causes this, but it seems to be an error no

[2017-08-05 01:24] cheerfulstoic commented on #61
I got this as well.  Let me know if I can be of help.  My backtraces:

[code]

[2017-08-05 06:33] AlexKovalevych commented on #61
Still can't reproduce with your file:

[code]

[code]

DId you try to use the latest `xlsxir` from the `master` branch?

[2017-08-05 12:24] cheerfulstoic commented on #61
I tried `master` and the error went away, but I got another error:

`exit {:noproc, {GenServer, :call, [Xlsxir.StateManager, :new_table, 5000]}}`

Hopefully that's helpful.

[2017-08-05 12:49] AlexKovalevych commented on #61
@cheerfulstoic did you start the OTP application? From the doc:

[code]

or if manually:

[code]

[2017-08-05 13:34] jsonkennell commented on #61
I haven't been able to reproduce it either in IEx, but I will plug it into a Phoenix app and try again.

[2017-08-05 15:09] mvrkljan commented on #61
I just tested with latest code from master branch and the test that was failing in my app is now passing. I was using 1.5.1 before.

[2017-08-06 02:47] cheerfulstoic commented on #61
@AlexKovalevych Oh, nice!  Sorry I missed that in the docs, but that worked a treat.  It's working for me in `master`.  I tried 1.5.1 after changing the application definition just to see and it's still failing (not surprising).  I'll keep on with `master` for now.  Thanks

[2017-09-02 22:43] janajri commented on #61
Also had a similar issue that seemed to disappear when I switched to the master branch.

[2017-10-03 16:14] joshuataylor commented on #61
Also hit by this, could we get a release as the hex.pm version seems to be broken?

[2017-10-03 16:39] jsonkennell commented on #61
@joshuataylor sure thing, I'll try to get a release out this week. If anyone has time to process some of their workbooks through the master version and let me know if they run into any issues I'd appreciate it. I haven't run into any issues on my end yet.

[2017-10-09 23:58] jsonkennell commented on #61
v1.6 has been published to Hex which should address this issue. Please open a new issue if problems persist.

[2017-10-09 23:58] #61 closed

[2017-10-09 23:59] #60 closed

[2017-10-16 07:31] FabienHenon opened #68 "Stream loading"
Hi,

Thank you for this module, this is working fine!

However, when I want to load very big files (more than 200K lines), on my staging server I have a crash due to low memory. Would you consider adding functions to parse the xlsx file with streams so that one can load data as he needs it?

In my use case, the final user can upload xlsx files to import contacts, so a stream version of the `extrac

[2017-10-16 15:41] rhetzler commented on #68
Hi @FabienHenon others have had similar problems so this went into the module recently. Please take a look at Xlsxir.stream_list/3 and see if this fits your needs.

https://hexdocs.pm/xlsxir/Xlsxir.html#stream_list/3

[2017-10-17 09:53] FabienHenon commented on #68
Thank you that is what I was looking for!

However, I don't know if it's coming from `xlsxir` or `Elixir/Erlang` but I still have a crash:

[code]

My source code is:
[code]

I don't think this is coming from my `convert_row_to_string` as it is working fine for smaller files and it's not doing heavy staff, just converting cell data to string.

Also, I'm only `take`ing 10 rows, so the problem shoul

[2017-10-17 19:00] jsonkenl commented on #68
Hi @FabienHenon. An `.xlsx` file is actually a compressed file (much like a `.zip`), so the contents are larger than the original file once extracted. `Xlsxir` allows you to stream the parsing functionality of the file, but the required `.xml` files contained within the `.xlsx` file have to be extracted to the file system in full so that they are available for parsing. There is room for optimizati

[2017-10-18 13:13] FabienHenon commented on #68
Alright, thank you for this information. There is nothing I can do except adding more RAM to my machine :)

I'll close this issue

[2017-10-18 13:13] #68 closed

[2017-11-07 17:09] ZombieHarvester opened #69 "Bug: get_list/1 skips leading empty cells"
Table: "B1" = 2,  "D1" = 4

Xlsxir.get_list(table_id) incorrectly returns [[2, nil, 4]]

Expected to return [[nil, 2, nil, 4]]

[2017-11-15 14:22] jsonkenl commented on #69
@ZombieHarvester, yes there is definitely a bug. The private function `Xlsxir.do_get_row/1` is actually returning `[["B1", 2], ["B1", nil], ["D1", 4]]` so there is an error in the logic related to filling the empty cells. I'm digging into it and will let you know when I figure something out. Thanks for the heads up.

[2017-11-15 22:53] jsonkenl commented on #69
Ok @ZombieHarvester I think I got it. Could you please pull from master and test your file? Thanks!

[2017-11-16 23:01] ZombieHarvester commented on #69
@jsonkenl seems to be working! Thanks

[2017-11-17 03:09] jsonkenl commented on #69
Great! Closing this now, let me know if you have any other issues. I'll release this fix to Hex soon.

[2017-11-17 03:09] #69 closed

[2018-04-07 18:10] radiospiel opened #75 "Trouble parsing a date field"
I have a xlsx file, which has a field with the content "01.05.2018". xlsxir parses this into `{2014, 4, 30}`. While changing the date from May 1st into Apr 30th could be explained as some timezone adjustment (note that this is Berlin, which is both german - i.e. uses DD.MM.YYYY - and UTC+1/UTC+2) the year change cannot be explained that way.

Any ideas how I could fix this? Is this a bug with xlsx

[2018-04-07 18:13] radiospiel commented on #75
Note that I do

    [ headers | rows ] = Xlsxir.stream_list(path, 0) |> Enum.map(fn s -> s end)

[2018-04-09 20:36] jsonkenl commented on #75
@radiospiel Thanks for letting me know. I'll take a look as soon as possible and get back to you.

[2018-04-12 12:58] radiospiel commented on #75
thank you, I appreciate that very much!

[2018-04-17 13:52] jsonkenl commented on #75
@radiospiel it might help to have the xlsx file as I've been unable to reproduce the error. I've formatted a cell in a new workbook as DD.MM.YYYY and it's parsing it as {2018, 5, 1} for me.

[2018-04-27 09:36] radiospiel commented on #75
@jsonkenl ah I missed the notification email, thanks for the speedy response :) So, here it is:
[forum-bug.xlsx](https://github.com/jsonkenl/xlsxir/files/1954571/forum-bug.xlsx)

[2018-06-13 13:41] jsonkenl commented on #75
@radiospiel My apologies for the delay. I've added this to my to-do for the weekend. I should have something for you soon.

[2018-06-18 18:57] jsonkenl commented on #75
Hey @radiospiel, I think it has something to do with your regional date/time settings on your operating system or settings within Excel. I created a custom date field in a new workbook I opened up and the sequential serial number I get from 01.05.2018 using dd.mm.yyyy is '43221' while the sequential serial number from your workbook for the same date is '41759'. Only date formats that begin with an

[2018-06-19 10:42] radiospiel commented on #75
@jsonkenl well, that sounds super weird, but I will pick deeper. If i find something I'll check back with you. In the meantime lets close this issue for now. Thanks for your help!

[2018-06-19 10:42] #75 closed

[2018-06-20 16:36] radiospiel commented on #75
Me again :) It seems someone else also found out about this, see https://www.accountingweb.com/technology/excel/when-excel-dates-mysteriously-shift-by-4-years

[2018-06-20 17:59] radiospiel commented on #75
@jsonkenl yea, I did this and it seems to do the trick. An enhancement in xlsxir would make it more awesome still :) Thanks for the good work!

[2018-07-09 14:45] alex88 opened #78 "Sheet name"
Is there a way to get the sheet name when extracting data?

[2018-07-12 14:56] jsonkenl commented on #78
Hey @alex88, yes there is but Xlsxir is not currently capable of capturing it. The information is located in the `xl/workbook.xml` file within the .xlsx document. I'll need to parse that file anyway to fix the 1904 date issue from #75, so I'll add this as an enhancement to add to that one. Feel free to take a stab at it if you have any interest.

[2018-08-15 15:52] junjizhi opened #79 "Read cached, evaluated formula values?"
Currently xlsxir reads out the formula string directly. Is there a way to read the evaluated value that MS Excel cached in the file?

I know [openpyxl](https://openpyxl.readthedocs.io/en/stable/) has a [data_only](https://stackoverflow.com/a/36117824/8175889) flag that does that. Is it in your plan to support this feature?

Thanks!

[2018-08-15 15:59] junjizhi commented on #79
Actually I found that's the default behaviour. The formula I saw before could be MS Excel didn't actually cache value.

[2018-08-15 15:59] #79 closed

[2018-08-15 16:28] junjizhi opened #80 "Fail to read the formula result"
Test file: [import-sheet-1.xlsx](https://github.com/jsonkenl/xlsxir/files/2290926/import-sheet-1.xlsx)

[code]

It's expected to return the formula result which should be nil or empty string, but it returns the formula string instead.

[2018-08-15 17:26] jsonkenl commented on #80
Hi @junjizhi, can you please carve out the cells causing the error into a new workbook and share it with me so that I can debug? Please test to make sure the error is reproduced in the new workbook.

[2018-08-15 20:52] junjizhi commented on #80
[parse-bug.xlsx](https://github.com/jsonkenl/xlsxir/files/2291661/parse-bug.xlsx)

@jsonkenl In the file attached above, there's only one cell A1 in the "Sheet1" that has value. The rest of the workbook is blank. I can reproduce this bug with the above script.

[2018-09-12 15:44] #80 closed

[2018-10-03 09:02] norpan commented on #78
I made a quick implementation of a parser that puts worksheet names into an ets table. However, I'm not sure how to incorporate it into the API. Also, I used mix format so the diff is bigger than it should be. See https://github.com/norpan/xlsxir/tree/parse_workbook

[2018-11-08 16:38] phunehehe opened #84 "ETS process vs data structure"
(I'm new to Excel / Erlang / Elixir parsing so please bear with me if this doesn't make too much sense.)

In order to avoid having to sandwich my code between `Xlsxir.multi_extract` and `Xlsxir.close` everywhere, I'm planning to make a helper function that extracts a file, converts everything into some data structure (probably a 2 dimensional array), then closes the ETS process. Then nothing else

[2018-12-05 22:17] michaelst opened #85 "version 1.6.3 not found"
** (Mix) No matching version for xlsxir ~> 1.6.3 (from: mix.exs) in registry

The latest version is: 1.6.2

[2019-01-03 14:37] jsonkenl commented on #85
I'm going to try to get 1.6.3 published this week.

[2019-01-03 14:38] #85 closed

[2019-01-03 14:41] jsonkenl commented on #84
@phunehehe Thanks for the message. My apologies for the delayed response. When I created Xlsxir, my typical use case did involve more random access so that is why I left everything in an ETS process. You're welcome to create a process per your description to be added to the library. Let me know if you have any questions as you're putting it together. Thanks!

[2019-01-03 14:41] #84 closed

[2019-01-03 15:46] jsonkenl commented on #78
This has been implemented via PR #82

[2019-01-03 15:46] #78 closed

[2019-01-21 16:45] zpeters opened #87 "Collectable protocol is deprecated for non-empty lists"
(Elixir 1.8)

I have difficulty reading elixir errors like this.  I think the warning is referring to the xlsxir code?  If not i can make a report somewhere else.   happy to help work on this if you accept pull requests..

<pre>
warning: the Collectable protocol is deprecated for non-empty lists. The behaviour of things like Enum.into/2 or "for" comprehensions with an :into option is incorrect whe

[2019-01-22 22:46] michaelst commented on #87
would be nice to have this merged in https://github.com/jsonkenl/xlsxir/pull/86/files

[2019-01-22 22:50] jsonkenl commented on #87
Thanks! I'll take a look ASAP.

[2019-01-22 22:56] michaelst opened #88 "Enum.filter_map/3 is deprecated"
[code]

[2019-01-22 23:00] #87 closed

[2019-01-22 23:05] michaelst commented on #87
The PR was closed, not merged. Not sure if that was on purpose or not

[2019-01-22 23:09] jsonkenl commented on #88
Yep, my bad. Thanks for catching this.

[2019-01-22 23:12] jsonkenl commented on #87
My bad, thanks! Trying to do this on my mobile and I hit the wrong button.

[2019-01-22 23:12] michaelst commented on #87
No problem, thanks for being so responsive!

[2019-02-07 04:10] arruah opened #91 "docx format support"
Any plans to add docx parsing support?

[2019-02-12 00:07] jsonkenl commented on #91
@arruah No I don't plan on implementing docx parsing support at this time.

[2019-02-12 00:07] #91 closed

[2019-02-25 15:32] benschenker opened #92 "Unable to catch/rescue exception from Xlsxir.stream_list"
I have an excel file with some bad data that crashes Xlsxir.stream_list in an uncatchable way.
Example: run `mix test` on https://github.com/benschenker/brokelixir

It fails with:
[code]

even though the call is wrapped in a try/rescue block, I have also tried catching :exit to no avail.

I'd love to put up a pr to fix this but after poking around a bit it feels like I may need a bit of guidance.

[2019-03-12 19:10] jsonkenl commented on #88
Fixed by #90

[2019-03-12 19:10] #88 closed

[2019-07-22 18:16] norpan opened #93 "Xlsxir reads the wrong sheet name from workbook created with Elixlsx"
I'm not sure if the bug is with Elixlsx or with Xlsxir, but the file works when opened in Excel.

[bug.xlsx](https://github.com/jsonkenl/xlsxir/files/3418707/bug.xlsx)

[code]

[2019-08-19 22:01] barakyo opened #94 "MatchError when Parsing XLSX"
Hi!

Thanks for the great library. We're using this in production and noticed that we're having an error when trying to parse XLSX files whose columns may be missing some style information (for example a column with no values). The error seems to go away when we directly delete that that column.

This is the error we get:
[code]

I've attached the spreadsheet, [missing_styles.xlsx](https://github.

[2019-08-26 04:38] jsonkenl commented on #94
@barakyo thanks for pointing out this bug and proposing a fix. I'll get it merged ASAP and will publish a new version on hex once I get a chance to look into issue #93.

[2019-08-26 04:41] #94 closed

[2019-11-06 14:50] xavier commented on #93
I've encountered the same error. It's not a parsing problem: the attributes are correctly extracted and stored in the workbook ETS table. The issue occurs when [retrieving the name of the sheet being parsed](https://github.com/jsonkenl/xlsxir/blob/master/lib/xlsxir/parse_worksheet.ex#L39-L43) to populate the `{:info, :worksheet_name, ...}` tuple stored the sheet ETS table.

This library seems to a

[2020-03-06 15:01] dbernheisel commented on #92
I ran into this too, and it's a problem that Xlsir is spawning an unmonitored process that can throw exceptions like this, which never recover since it's not linked. That needs to be fixed.

In the meantime, I have removed that exception from occurring in #98 so at least it avoids the exception.

[2020-07-01 17:56] teatimes opened #99 "Commits since March 12th 2019 not included if using hex-version"
After some hours debugging the error fixed in [Fix MatchError when no styles exist for cell ](https://github.com/jsonkenl/xlsxir/commit/0a5c69019f9f5a5cc74dfc7bdb0328a2451ac0e1), I became aware that the code in the Github repo is different than the one received if using `{:xlsxir, "~> 1.6"}`in mix.exs. When looking at [Xlsxir at hex.pm](https://hex.pm/packages/xlsxir), it seems like the latest com

[2020-07-10 11:23] abmm opened #100 "Read currency format"
Hi there!,

I have some problems reading columns that have been formatted as currency because values returned look like `erl` dates.

For example in this file [currency.xlsx](https://github.com/jsonkenl/xlsxir/files/4902725/currency.xlsx) columns have Canadian dollar format but what I get for `0.00 CAD` is `{0, 0, 0}`, and `45,052.00 CAD` is `{2023, 5, 6}` and I dont know the reason. Is it possibl

[2020-11-04 08:10] crbelaus opened #101 "Compilation warnings on Elixir 1.11"
Compiling the library on Elixir 1.11 throws the following warning:

[code]

[2021-03-01 14:28] pierot commented on #99
I commented on https://github.com/jsonkenl/xlsxir/commit/23a2ac540ce70375a924c4c71720c2578b78b862 before seeing this issue. It would be great if someone could push the latest code changes to hex.pm. Thanks!

[2021-04-12 00:48] woylie opened #104 "Phonetic guides are added to column values"
Excel has a feature called [phonetic guides](https://support.microsoft.com/en-us/office/use-furigana-phonetic-guides-with-japanese-text-673b30ed-6bbd-4759-870f-0e5616955e9a) for Japanese characters. When kanji are entered in a column, Excel adds phonetic guides as katakana. In Excel, these guides can be hidden or shown.

When opening an xlsx file like that with LibreOffice, Apple Numbers or Google

[2021-05-04 21:53] CJKinni commented on #100
I'm also running into this formatting issue.  @abmm Did you happen to find a solution to it?

[2021-05-05 03:39] ray-sh opened #105 "Specify date type instead of default erlang date tuple"
Thanks for great tools to handle excel format in elixir.

Is there any configuration to make the parser to generate elixir data type instead erlang date tuple?
The reason is when persist the data as map to database,  it will report error protocol Jason.Encoder not implemented for {2011, 12, 30} of type Tuple.

So I need to  convert  the erlang date tuple myself.
Is there some configuration for xls

[2021-06-21 16:48] BrendonPierson opened #106 "Bad match on sheet r:id value "R1""
While trying to parse a workbook I received the following error:

[code]

Digging through the actual xml I noticed the sheets attribute`r:id="R1"`

[code]

Then it appears the parser is expecting the r:id to always start with "rId"
Changing this function to accommodate "R1" did the trick

[code]

I'm happy to clean up the above and submit a PR but I'm not 100% sure the `r:id="R1"` is valid? I rece